.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    background-color: #6A8CFF;
    padding: 2rem;
    bottom: 0;
}

.footer-wrapper p {
    font-size: .8rem;
    color: whitesmoke;
    margin: auto;
}